.header {
    height: 250px; 
    max-height: 500px;
    background-image: url(../images/upsBackground.png); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: bottom;}

#pagetopic {
    text-align: center; 
    font-family: Helvetica, sans-serif; 
    font-weight: bolder; 
    background-color: #b3b3fa;}

.sectionhead{
    font-family: Helvetica, sans-serif ; 
    font-size: 36px; 
    font-weight: 700; 
    line-height: 42px;
    height: 50px;
    border-bottom: 10px;
    border-bottom-color: #545454;
}

.colorcontainer {
    display: inline-block; 
    margin: 15px;
}

.swatch {
    height: 200px; 
    width: 170px; 
    border: 1px #000; 
    border-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hexcode {
    padding: 15px; 
    text-align: center; 
    border: 1px #000; 
    border-style: solid; 
    border-top: none;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}

.typecontainer {
    display: inline-block; 
    margin: 20px;
}

.button {
    font-family: Helvetica ; 
    display: inline-block; 
    padding: 15px; 
    margin: 15px; 
    width: 150px; 
    text-align: center; 
    color: #ffffff;}


.darkblue {background-color: #333366;}
.darkgrey {background-color: #545454;}
.lightgrey {background-color: #e3e3e3;}
.white {background-color: #ffffff;}
.lightblue {background-color: #13a0f6;}
.red {background-color: #f84848;}
.orange {background-color: #fc7705;}
.lightgreen {background-color: #8abe48;}


.primary {background-color: #2b459a;}
.success {background-color: #8abe48;}
.danger {background-color: #f84848;}
.warning {background-color: #fc7705;}
.info {background-color: #0099fa;}
.primaryactive {background-color: #3a66b7;}
.successactive {background-color: #668c35;}
.dangeractive {background-color: #ad4848;}
.warningactive {background-color: #ba7a43;}
.infoactive {background-color: #4386ba;}

h1 {
    font-family: helvetica; 
    font-size: 50px; 
    font-weight: bolder; 
    line-height: 70px;
} 

h2 {
    font-family: helvetica; 
    font-size: 42px; 
    font-weight: bold; 
    line-height: 60px;
}

h3 {
    font-family: helvetica; 
    font-size: 34px; 
    font-weight: bold; 
    line-height: 50px;
}

h4{
    font-family: helvetica; 
    font-size: 26px; 
    font-weight: bold; 
    line-height: 28px;
    
}